.product {
    margin-top: 95px;

    &__wrapper {
        display: flex;
        background-color: $br-l-blue;
        border-radius: 33px;
        padding: 30px;
        padding-left: 10px;
        padding-top: 50px;
        padding-top: 30px;
        padding-bottom: 10px;
        align-items: center;
    }

    &__picture {
        width: 379px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    &__block {
        margin-top: 5px;
    }

    &__text{
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .product {
        &__wrapper {
            flex-direction: column;
            padding: 30px;
            padding-left: 40px;
            padding-right: 40px;
            max-width: 500px;
            margin: 0 auto;
        }

        &__text{
            max-width: 100%;
        }
    }
}

@media (max-width: 425px) {
    .product {
        margin-top: 50px;

        &__wrapper {
            flex-direction: column;
            padding: 20px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            max-width: 500px;
            margin: 0 auto;
        }

        &__picture {
            width: 280px;
        }
    }
}
