// br stands for Brand color
// $br-mint: #22dc9e;
// $br-d-mint: #00c08b;
// $br-blue: #0b007b;
// $br-l-blue: #afe2e3;

$tx-black: #000000;
$tx-d-grey: #282828;
$tx-primary: #003B4A;

$br-white: #ffffff;
$br-yellow: #F8C025;
$br-l-blue: #EDFAF9;
$br-d-blue: #00A98F;

// animation by hover

$anim: 0.2s ease;
