<footer class="footer">
    <div class="footer__wrapper">
        <a href="index.html" class="footer__logo"><img src="img/vector/footer-logo.svg" alt="logo"></a>
        <div class="footer__partner">
            <span>Powered by</span>
            <a href="https://www.campoverdebv.com/" target="_blank">
                <img src="img/raster/еntc-logo.png" alt="cvt-logo">
            </a>
        </div>
        <div class="footer__links">
            <span class="footer__copy">Big Wave Company | 2020 All rights reserved</span>
        </div>
    </div>
</footer>

